---
permalink: /
layout: base
title: Posts
figlet: posts
scripts:
- '/assets/js/image-effects.js'
---

<p>Blogs</p>
<ul>
    {% for blog in site.blogs %}
    <li>[{{ blog.date | date: "%Y-%m-%d" }}] <a href="{{ blog.url | relative_url }}">{{ blog.title }}</a></li>
    {% else %}
    <li>No entries found.</li>
    {% endfor %}
</ul>

<br>

<p>YouTube</p>
<ul>
    {% for video in site.youtubes %}
    <li>[{{ video.date | date: "%Y-%m-%d" }}] <a href="{{ video.url | relative_url }}">{{ video.title }}</a></li>
    {% else %}
    <li>No entries found.</li>
    {% endfor %}
</ul>

<br>

<p>Instagram</p>
<ul>
    <li><a href="YOUR_INSTAGRAM_URL" target="_blank" rel="noopener noreferrer">@yourusername</a></li>
</ul>